{% extends 'mainapp/page-layout.html' %}
{% load static %}

{% block content %}
   <div class="category_delete">
       <div class="h1">Sure to delete?</div>
       {% include 'ordersapp/include/inc_order_summary.html' %}
       <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="delete">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'ordersapp:orders_list' %}">cancel</a>
       </button>
   </div>
{% endblock %}
