{% for item in basket_items %}
    <div class="basket__item">
        <div class="basket__item-cell">
            <img src="/media/{{ item.product.image }}" alt="{{ item.product.name }}">
        </div>
        <div class="basket__item-cell">
            <div class="basket__item-category">{{ item.product.category.name }}</div>
            <div class="basket__item-title">{{ item.product.name }}</div>
            <div class="basket__item-description">{{ item.product.description }}</div>
        </div>
        <div class="basket__item-cell basket__aside">
            <div class="basket__item-controls">
                <div>
                    <b>{{ item.cost }}</b>
                    <input type="number" name="{{ item.pk }}" min="0" max="{{ item.product.quantity }}" value=
                            "{{ item.quantity }}">
                </div>
                <a class="basket__item-remove" href="{% url 'basket:remove' item.pk %}">remove</a>
            </div>
            <div class="basket__item-price"><em>{{item.quantity}}</em> <strong>✕</strong> <b
            >{{ item.product.price }}</b>euro</div>
        </div>
    </div>
{% endfor %}

{% if basket_items %}
    <div class="basket__total">
        {{ basket_items.0.total_quantity }} items
        <div class="product__price"><b>{{ basket_items.0.total_cost }}</b>euro</div>
    </div>
{% endif %}