{% extends 'mainapp/page-layout.html' %}
{% load static %}

{% block header %}
    {% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="category_delete">
        Sure to {% if object.is_active %}delete{% else %}restore{% endif %} category <strong>
        {{ object.name|title }}</strong>?
        <form action="{% url 'admin:category_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit"
                   value="{% if object.is_active %}Delete{% else %}Restore{% endif %}">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:categories' %}">Cancel</a>
        </button>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}