{% extends 'mainapp/page-layout.html' %}
{% load static %}


{% block header %}
    {% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="new_category_form">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ update_form.as_p }}
                    <input class="form-control" type="submit" value="Save">
                </form>
                <button class="btn btn-round form-control last">
                    <a href="{% url 'admin:products' category.pk %}">
                        Back
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
