{% extends 'mainapp/page-layout.html' %}
{% load static %}

{% block header %}
{% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="products_list">
		<button class="new_product"><a href={% url 'admin:product_create' category.pk %}>New product</a></button>
        <hr>
		
		{% for object in objects %}
			<div class="product_record {% if not object.is_active %}not_active{% endif %}">
				<img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
				<div class="product_name">
					{{ object.name|title }}
				</div>
				<div class="product_actions">
					<button>
						<a href={% url 'admin:product_read' object.pk %}>Details</a>
					</button>
					<button>
						<a href={% url 'admin:product_update' object.pk %}>Change</a>
					</button>
					<button>
                        {% if object.is_active %}
                            <a href={% url 'admin:product_delete' object.pk %}>Delete</a>
                        {% else %}
                            <a href={% url 'admin:product_delete' object.pk %}>Restore</a>
                        {% endif %}
					</button>
				</div>
				<div class="summary">
					<b>Price</b>
					<p>{{ object.price }} €</p>
					<b>Quantity</b>
					<p>{{ object.quantity }}</p>
				</div>
				<div class="product_desc">
					{{ object.short_desc|title }}
				</div>
			</div>
            <hr>
		{% endfor%}
	</div>
{% endblock %}