{% extends 'mainapp/page-layout.html' %}
{% load static %}
{% load avatar_tag %}

{% block menu %}
    {% include 'adminapp/includes/inc_menu.html' %}
{% endblock %}

{% block content %}
    <div class="product_delete">
        Sure to {% if object.is_active %}delete{% else %}restore{% endif %} product<strong>
        {{ object.name|title }}</strong>?
        <form action="{% url 'admin:product_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit"
                   value="{% if object.is_active %}Delete{% else %} Restore{% endif %}">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:products' object.category.pk %}">Cancel</a>
        </button>
    </div>
{% endblock %}