{##}
{#{% extends 'mainapp/base.html' %}#}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap"
              rel="stylesheet"/>
        <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div id="page">
    <div class="wrapper" id="header">
        <div class="container">
            <div class="header__logo"></div>
            {% block menu %}
                {% include 'mainapp/include/inc_main_menu.html' %}
            {% endblock %}
        </div>
    </div>

    {% block content %}

    {% endblock %}

    {% block footer %}
        {% include 'mainapp/include/inc_footer.html' %}
    {% endblock %}

</div>
</body>
</html>
