{% extends 'mainapp/base.html' %}
{% load static %}
{% load avatar_tag %}

{% block content %}

    <div class="wrapper" id="details">
        <div class="container">
            <div class="product">
                <div class="product__cell">
                    {% include 'mainapp/include/inc_submenu.html' %}
                    <div style="margin: 50px 0px 0px 50px">
                        <img alt="" src="/media/{{ hot_product.image }}"/>
                    </div>
                    <div class="product__gallery">
                        <span class="product__gallery-item">
                            <img alt="" src="/media/{{ hot_product.image }}"/>
                        </span>
                        <span class="product__gallery-item">
                            <img alt="" src="/media/{{ hot_product.image }}"/>
                        </span>
                        <span class="product__gallery-item product__gallery-item_selected">
                            <img alt="" src="/media/{{ hot_product.image }}"/>
                        </span>
                    </div>
                </div>


                <div class="product__cell">
                    <div class="product__title">{{ hot_product.name }}</div>
                    <div class="product__subtitle">Hot Deal</div>
                    <div class="product__price"><b>{{ hot_product.price }}</b>€</div>
                    <div class="product__button">
                        <a href='{% url 'basket:add' hot_product.pk %}' class="button button_red">
                            <span class="button_text">Order us</span>
                        </a>
                    </div>
                    <div class="product__info">
                        <p>{{ hot_product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper section">
        <div class="container">
            <div class="section-header">
                <span class="section-title">Related products</span>
                <span class="section-aside">Explore all</span>
            </div>
            <div class="tiles">
                {% for product in same_products %}
                    <a class="tiles__tile" href="#">
                        <div class="tile-info">
                            <div class="tile-info__content">
                                <span class="button button_round"></span>
                                <div class="tile-info__title">{{ product.name }}</div>
                                <div class="tile-info__description">{{ product.short_desc }}</div>
                            </div>
                        </div>
                        <img alt="{{ product.name }}" src="{{ product.image|media_folder_products }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

    <div class="wrapper" id="page-title">
        <div class="container">
            <div class="title">{{ category.name|title }}</div>
        </div>
    </div>

{#    <div class="wrapper section">#}
{#        <div class="container">#}
{#            {% include 'mainapp/include/inc_submenu.html' %}#}
{##}
{#            <div class="tiles">#}
{#                <div class="paginator">#}
{#                    {% if products.has_previous %}#}
{#                        <a href="{% url 'catalog:page' category.pk products.previous_page_number %}"><</a>#}
{#                    {% endif %}#}
{#                    <span class="current">#}
{#                    Page {{ products.number }} of {{ products.paginator.num_pages }}#}
{#                </span>#}
{#                    {% if products.has_next %}#}
{#                        <a href="{% url 'catalog:page' category.pk products.next_page_number %}">></a>#}
{#                    {% endif %}#}
{#                </div>#}
{#                {% for object in objects %}#}
{#                    <a class="tiles__tile" href="#">#}
{#                        <div class="tile-info">#}
{#                            <div class="tile-info__content">#}
{#                                <span class="button button_round"></span>#}
{#                                <div class="tile-info__title">{{ object.name }}</div>#}
{#                                <div class="tile-info__description">{{ object.short_desc }}</div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <img alt="{{ object.name }}" src="{{ object.image|media_folder_products }}"/>#}
{#                    </a>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="wrapper">
        <div class="container">
            <div class="promo">
                <div class="promo-item">
                    <img alt="" src="{% static 'img/promo-img1.png' %}"/>
                    <div class="info info_s">
                        <div class="info__header color-blue">Exclusive</div>
                        <div class="info__title">Fishnet chair</div>
                        <div class="info__description">
                            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                        </div>
                        <span class="button">
                            <span class="button_text">Order us</span>
                        </span>
                    </div>
                </div>
                <div class="promo-item">
                    <img alt="" src="{% static 'img/promo-img.png' %}"/>
                    <div class="info info_s">
                        <div class="info__header color-blue">Exclusive</div>
                        <div class="info__title">Fishnet chair</div>
                        <div class="info__description">
                            Seat and back with upholstery made of cold cure foam. Steel frame, available in matt
                        </div>
                        <span class="button">
                            <span class="button_text">Order us</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
